<h1><%= @attendee.name %></h1>
<p>Email: <%= @attendee.email %></p>
<p>Attendance Status: <%= @attendee.attendance_status ? 'Confirmed' : 'Pending' %></p>

<h2>Events</h2>
<ul>
  <% @attendee.events.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event) %> - <%= event.date %>
    </li>
  <% end %>
</ul>
