<h1><%= @event.name %></h1>
<p><%= @event.date %></p><p>
<%= @event.location %></p><p>
<%= @event.description %></p><p>Event Type: <%= @event.event_type.name %></p>
<h2>Attendees</h2>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.name %> - <%= attendee.email %></li>
  <% end %>
</ul>
